<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SafePets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <br><br>
    <div class="container">
      <div class="row">
        {% for post in posts %}
            <div class="col-lg-4 offset-lg-4">
              <div class="media">
                <img src="{{post.user.picture}}" alt="{{post.user.name}}" class="mr-3 rounded-circle">
                <div class="media-body">
                  <h5 class="mt-0">
                    {{post.user.name}}
                  </h5>
                  {{post.timestamp}}
                </div>
              </div>
              <img class="img-fluid mt-3 border rounded" src="{{ post.photo }}" alt="{{ post.title }}">
              <h6class="ml-1 mt-1">{{ post.title }}</h6>
            </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
